<div>
  <h1 class="text-center my-5">Angular exercise</h1>

  <div class="container mb-5">
    <button class="mr-3 py-2 px-3 rounded-lg border-0 bg-white shadow-sm outline-none" routerLink="/customer-details">Customer details</button>
    <button class="mx-3 py-2 px-3 rounded-lg border-0 bg-white shadow-sm outline-none">Account details</button>
    <button class="ml-3 py-2 px-3 rounded-lg border-0 bg-white shadow-sm outline-none">Dynamic form</button>
  </div>

  <router-outlet></router-outlet>
</div>
