@import "assets/css/bootstrap.min.css";

body {
  font-family: 'Gilroy', sans-serif;
  color: #536A81;
  font-size: 16px;
  line-height: 1.750em;
  -webkit-font-smoothing: antialiased;
}

.outline-none {
  outline: none !important;
}

.bg-primary {
  background: #FDA80C !important;
}

.text-primary {
  color: #FDA80C !important;
}

a, a:hover {
  color: inherit;
}