<div class="container">
  <div class="text-success pb-3" *ngIf="showSubmittedMessage">Form submitted!</div>
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <label class="w-100 text-primary">Sent status</label>
    <div class="form-group">
      <label *ngFor="let status of sentStatuses" class="pr-3">
        <input
          type="radio"
          formControlName="sentStatus"
          [value]="status"
          class="mr-2"
        >{{ status }}
      </label>
    </div>

    <div formGroupName="alreadySent" *ngIf="dynamicForm.get('sentStatus').value == 'Already sent'" class="px-3">
      <div class="form-group">
        <label for="document" class="w-100">Document</label>
        <input type="file" id="document" formControlName="document">
        <div *ngIf="(!dynamicForm.get('alreadySent.document').valid && formSubmitted) || (!dynamicForm.get('alreadySent.document').valid && dynamicForm.get('alreadySent.document').touched)" class="text-danger pt-2">
          Please choose a document.
        </div>
      </div>
      <div class="form-group">
        <label for="sendDate" class="w-100">Send date</label>
        <input type="date" id="sendDate" formControlName="sendDate">
        <div *ngIf="(!dynamicForm.get('alreadySent.sendDate').valid && formSubmitted) || (!dynamicForm.get('alreadySent.sendDate').valid && dynamicForm.get('alreadySent.sendDate').touched)" class="text-danger pt-2">
          Please choose a send date.
        </div>
      </div>
      <div class="form-group col-6 px-0">
        <label for="message" class="w-100">Comment (optional)</label>
        <textarea class="form-control" id="message" rows="4" formControlName="comment"></textarea>
      </div>
    </div>

    <div formGroupName="notSentYet" *ngIf="dynamicForm.get('sentStatus').value == 'Not sent yet'" class="px-3">
      <div class="form-group">
        <label for="passportNumber" class="w-100">Passport number</label>
        <input type="text" list="passportNumberSuggestions" formControlName="passportNumber">
        <datalist id="passportNumberSuggestions">
          <option *ngFor="let suggestion of passportNumberSuggestions" [value]="suggestion.name" >{{ suggestion.name }}</option>
        </datalist>
        <div *ngIf="(!dynamicForm.get('notSentYet.passportNumber').valid && formSubmitted) || (!dynamicForm.get('notSentYet.passportNumber').valid && dynamicForm.get('notSentYet.passportNumber').touched)" class="text-danger pt-2">
          Please fill out a passport number.
        </div>
      </div>
    </div>

    <label class="w-100 text-primary">Urgency</label>
    <div class="form-group">
      <label *ngFor="let state of urgencyState" class="pr-3">
        <input
          type="radio"
          formControlName="urgencyState"
          [value]="state"
          class="mr-2"
        >{{ state }}
      </label>
      <div *ngIf="(!dynamicForm.get('urgencyState').valid && formSubmitted) || (!dynamicForm.get('urgencyState').valid && dynamicForm.get('urgencyState').touched)" class="text-danger">
        Please pick an urgency state.
      </div>
    </div>
    
    <div class="form-group px-3" *ngIf="!!dynamicForm.get('deadline')">
      <label for="deadline" class="w-100">Deadline</label>
      <input type="date" id="deadline" formControlName="deadline">
      <div *ngIf="(!dynamicForm.get('deadline').valid && formSubmitted) || (!dynamicForm.get('deadline').valid && dynamicForm.get('deadline').touched)" class="text-danger pt-2">
        Please choose a deadline.
      </div>
    </div>
    
    <app-button class="mt-3" type="submit">Submit</app-button>
  </form>
</div>
